@use "./settings.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #275a16;
  font-family: sans-serif;
  color: settings.$primary-color;
}

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

canvas {
  max-width: 100%;
  background: rgba(255, 255, 255, 0.1);
}

/* Standard button styles get reset */
button {
  margin: 0;
  border: 0;
  text-decoration: none;
  text-indent: 0;

  &::-moz-focus-inner {
    border: 0;
  }
}

.hidden {
  display: none;
}

.transition {
  transition: settings.$default-transition;
}

.glass {
  filter: blur(4px);
}

@media only screen and (max-width: 600px) {
  body {
    height: inherit;
  }
}
