<div class="floating-buttons">
  <!-- Menu button -->
  <button
    (click)="onOpenMenu()"
    [class.is-active]="isMenuOpen"
    class="nav-main__toggler button"
    title="Open menu"
  >
    <span class="transition"></span><span class="transition"></span
    ><span class="transition"></span>
    <div class="button-info">{{ isMenuOpen ? "Close" : "Menu" }}</div>
  </button>

  <!-- Scores button -->
  <button
    (click)="onOpenStatistics()"
    [class.is-active]="isStatisticsOpen"
    class="scores__toggler"
  >
    <span></span><span></span><span></span>
    <div class="button-info">{{ isStatisticsOpen ? "Close" : "Scores" }}</div>
  </button>

  <!-- Play-pause button -->
  <button
    (click)="gameS.togglePaused()"
    [class.is-active]="!gameSettings.isPaused"
    class="button play-pause"
  >
    <div class="button-info">
      {{ gameSettings.isPaused ? "Play" : "Pause" }}
    </div>
  </button>
</div>

<!-- Menu -->
@if (isMenuOpen) {
<nav class="nav-main">
  <div class="nav-main__links">
    <ul>
      <li>
        <button
          (click)="setActiveMenuItem('current')"
          [class.is-active]="activeItem === 'current'"
          class="transition"
        >
          Current game
        </button>
      </li>
      <li>
        <button
          (click)="setActiveMenuItem('new')"
          [class.is-active]="activeItem === 'new'"
          class="transition"
        >
          New game
        </button>
      </li>
    </ul>
  </div>
  <div class="nav-main__content">
    @switch (activeItem) { @case ('current') {
    <div>
      <div class="is-active">
        <h2>Current game</h2>
        <!-- <div class="nav-main__group">
                    game-karts
                </div> -->
        <!-- <div class="nav-main__group">
                    game-scores
                </div> -->
        <div class="nav-main__group">
          <div class="nav-main__component">
            <strong>Play/Pause</strong>
          </div>
          <div class="row nav-main__component">
            <div class="col--1">
              <button
                (click)="gameS.togglePaused()"
                [class.is-active]="!gameSettings.isPaused"
                class="button play-pause"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    } @case ('new') {
    <div>
      <div>
        <h2>New game</h2>
        <div class="nav-main__group">
          <div class="nav-main__component">
            <strong>Track</strong>
          </div>
          <div class="nav-main__component">
            <div class="previews">
              @for (track of getTracks(); track i; let i = $index) {
              <div
                (click)="setActiveTrack(track)"
                [class.is-active]="track.name === getActiveTrack().name"
                [class.previews__item]="true"
              >
                <img [src]="getTrackThumbnail(track)" class="previews__image" />
                <div class="previews__item-text">
                  <div class="previews__item-title">{{ track.name }}</div>
                </div>
              </div>
              }
            </div>
          </div>
          <div class="buttons">
            <button (click)="startNewGame()" class="button button--wide">
              Start game
            </button>
          </div>
        </div>
      </div>
    </div>
    } }
  </div>
</nav>
}

<!-- Scores overview -->
@if (kartScores.length && isStatisticsOpen) {
<div class="scores">
  <table>
    <thead>
      <tr>
        <th class="right">#</th>
        <th></th>
        <th>Name</th>
        @if (gameSettings.getTotalCheckpoints()) {
        <th>Lap</th>
        <th>Checkpoint</th>
        }
        <th>Score</th>
        <th>Health</th>
        <th>Bullets</th>
        <th>Survival</th>
      </tr>
    </thead>
    <tbody>
      @for (kartScore of kartScores; track i; let i = $index) {
      <tr [class.is-death]="kartScore.health === 0">
        <td class="right">{{ i + 1 }}.</td>
        <td class="scores__thumbnail-wrapper">
          <app-kart-vector
            [colors]="kartScore.colors"
            class="scores__kart-thumbnail"
          ></app-kart-vector>
        </td>
        <td class="kart-name">
          {{ kartScore.name }} <span class="kart-id">#{{ kartScore.id }}</span>
        </td>
        @if (gameSettings.getTotalCheckpoints()) {
        <td class="right">{{ kartScore.laps }} / {{ kartScore.totalLaps }}</td>
        <td class="right">
          {{ kartScore.checkpoints }} / {{ kartScore.totalCheckpoints }}
        </td>
        }
        <td class="right">{{ kartScore.score }}</td>
        <td class="right scores__health">{{ kartScore.health }}</td>
        <td class="right">{{ kartScore.bullets }}</td>
        <td class="right">
          {{
            kartScore.survivalPlace !== -1 ? kartScore.survivalPlace + "." : ""
          }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
