<div>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 312.095 312.103" enable-background="new 0 0 312.095 312.103" xml:space="preserve">
        <g id="kartFrameSecondary" [attr.fill]="getColor('kartFrameSecondary')">
            <g><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="70.089" y1="257.491" x2="242.006" y2="257.491"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="229.36" y1="152.768" x2="232.693" y2="204.102"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M229.36,152.768c-0.999-2.798-1.696-6.502-6.667-11.333"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M222.693,141.435c-3.667-5.333-14.333-10.57-14.333-10.57"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M208.36,130.865c-5-2.763-9-11.763-9-11.763"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="112.36" y1="119.102" x2="109.36" y2="124.983"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M109.36,124.983c-2.583,2.356-2.583,2.356-6.667,5.881"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="102.693" y1="130.865" x2="87.36" y2="144.102"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M87.36,144.102c-4.334,3-5.771,8.667-5.771,8.667"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M81.589,152.768c-0.448,7.05-3.563,56-3.563,56"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M78.026,208.768c0,6.667,4.668,10,9.334,10"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.026" y1="281.102" x2="99.026" y2="298.435"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="212.36" y1="281.102" x2="212.36" y2="301.102"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M212.36,301.102c0.666,6-1.334,8.333-6.667,8.333"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M205.693,309.435c-5.667,0-98.333,0-98.333,0"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M107.36,309.435c-4.334,0.333-8.334-2-8.334-11"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="106.027" y1="72.768" x2="115.36" y2="38.435"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M115.36,38.435c2-5,6.332-9.667,13.666-9.667"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="129.026" y1="28.768" x2="186.36" y2="28.768"/>
                <path fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M186.36,28.768c6,0.333,8.018,2.754,9,6.333"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="195.36" y1="35.102" x2="205.693" y2="72.768"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="126.026" y1="105.102" x2="98.193" y2="109.363"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="98.193" y1="109.363" x2="93.193" y2="85.245"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="93.193" y1="85.245" x2="76.38" y2="85.245"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="219.026" y1="86.768" x2="234.673" y2="86.768"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="219.026" y1="86.768" x2="215.527" y2="109.363"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="215.527" y1="109.363" x2="186.36" y2="105.102"/><line fill="none" [attr.stroke]="getColor('kartFrameSecondary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.36" y1="105.102" x2="126.026" y2="105.102"/>
            </g>
        </g>
        <g id="kartFramePrimary">
            <g><line fill="none" [attr.stroke]="getColor('kartFramePrimary')" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.026" y1="281.102" x2="99.026" y2="188.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="212.36" y1="281.102" x2="212.484" y2="188.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="212.484" y1="188.435" x2="209.089" y2="178.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="209.089" y1="178.435" x2="186.36" y2="127.924"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.36" y1="127.924" x2="186.36" y2="105.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.36" y1="105.102" x2="209.089" y2="77.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.026" y1="188.435" x2="103.193" y2="173.768"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="102.693" y1="175.528" x2="126.026" y2="127.924"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="126.026" y1="127.924" x2="126.026" y2="105.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="126.026" y1="105.102" x2="103.193" y2="77.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="107.027" y1="166.435" x2="203.86" y2="166.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.026" y1="227.342" x2="212.484" y2="227.342"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="194.026" y1="227.342" x2="194.026" y2="166.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="194.026" y1="204.102" x2="212.484" y2="204.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="99.026" y1="218.768" x2="87.36" y2="218.768"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="212.484" y1="204.102" x2="232.693" y2="204.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="112.36" y1="119.102" x2="122.193" y2="100.457"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="199.36" y1="119.102" x2="190.86" y2="99.624"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="93.193" y1="86.768" x2="103.193" y2="77.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="103.193" y1="77.435" x2="106.027" y2="72.768"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="106.027" y1="72.768" x2="129.026" y2="55.602"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="219.026" y1="86.768" x2="209.089" y2="77.435"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="209.089" y1="77.435" x2="205.693" y2="72.768"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="205.693" y1="72.768" x2="183.693" y2="55.602"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="183.693" y1="55.602" x2="129.026" y2="55.602"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="126.026" y1="56.673" x2="126.026" y2="41.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="126.026" y1="41.102" x2="134.109" y2="33.018"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.36" y1="57.683" x2="186.36" y2="41.102"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="186.36" y1="41.102" x2="178.151" y2="32.893"/><line fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="178.151" y1="32.893" x2="135.109" y2="32.893"/>
            </g>
        </g>
        <g id="tiresBack">
            <g>
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="242.0059" y1="258.4912" x2="276.5889" y2="258.4912">
                    <stop offset="0" style="stop-color:#3C3C3C"/>
                    <stop offset="0.2" style="stop-color:#656564"/>
                    <stop offset="0.8" style="stop-color:#656564"/>
                    <stop offset="1" style="stop-color:#3C3C3C"/>
                </linearGradient>
                <path fill="url(#SVGID_1_)" d="M276.589,279.817c0,4.002-3.244,7.246-7.245,7.246h-20.093c-4.002,0-7.245-3.244-7.245-7.246
                    v-42.653c0-4.001,3.243-7.245,7.245-7.245h20.093c4.001,0,7.245,3.244,7.245,7.245V279.817z"/>
                <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="35.5059" y1="258.4912" x2="70.0889" y2="258.4912">
                    <stop offset="0" style="stop-color:#3C3C3C"/>
                    <stop offset="0.2" style="stop-color:#656564"/>
                    <stop offset="0.8" style="stop-color:#656564"/>
                    <stop offset="1" style="stop-color:#3C3C3C"/>
                </linearGradient>
                <path fill="url(#SVGID_2_)" d="M70.089,279.817c0,4.002-3.244,7.246-7.245,7.246H42.751c-4.002,0-7.245-3.244-7.245-7.246v-42.653
                    c0-4.001,3.243-7.245,7.245-7.245h20.093c4.001,0,7.245,3.244,7.245,7.245V279.817z"/>
            </g>
        </g>
        <g id="tiresFrontLeft">
            <g>
                <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="48.7969" y1="85.2451" x2="76.3799" y2="85.2451">
                    <stop offset="0" style="stop-color:#3C3C3C"/>
                    <stop offset="0.2" style="stop-color:#656564"/>
                    <stop offset="0.8" style="stop-color:#656564"/>
                    <stop offset="1" style="stop-color:#3C3C3C"/>
                </linearGradient>
                <path fill="url(#SVGID_3_)" d="M76.38,106.571c0,4.001-3.244,7.246-7.245,7.246H56.042c-4.002,0-7.245-3.244-7.245-7.246V63.918
                    c0-4.001,3.243-7.245,7.245-7.245h13.093c4.001,0,7.245,3.244,7.245,7.245V106.571z"/>
            </g>
        </g>
        <g id="tiresFrontRight">
            <g>
                <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="234.6729" y1="85.2451" x2="262.2559" y2="85.2451">
                    <stop offset="0" style="stop-color:#3C3C3C"/>
                    <stop offset="0.2" style="stop-color:#656564"/>
                    <stop offset="0.8" style="stop-color:#656564"/>
                    <stop offset="1" style="stop-color:#3C3C3C"/>
                </linearGradient>
                <path fill="url(#SVGID_4_)" d="M262.256,106.571c0,4.001-3.244,7.246-7.245,7.246h-13.093c-4.002,0-7.245-3.244-7.245-7.246
                    V63.918c0-4.001,3.243-7.245,7.245-7.245h13.093c4.001,0,7.245,3.244,7.245,7.245V106.571z"/>
            </g>
        </g>
        <g id="kartSecondaryBodySeat">
            <g>
                <path [attr.fill]="getColor('kartSecondaryBodySeat')" d="M205.527,197.081c0-7.536-5.373-13.646-12-13.646h-74.5c-6.627,0-12,6.11-12,13.646v68.043
                    c0,7.537,5.373,13.646,12,13.646h74.5c6.627,0,12-6.109,12-13.646V197.081z"/>
            </g>
        </g>
        <g id="kartSecondaryBodyWing">
            <g>
                <path [attr.fill]="getColor('kartSecondaryBodyWing')" d="M245.154,303.436c-0.253,2.023-5.372,6-12,6H79.884c-6.628,0-12-2.584-12-6s0-6.668,0-6.668
                    c0-6.628,5.372-12,12-12h153.271c6.628,0,12,5.372,12,12C245.154,296.768,245.407,301.412,245.154,303.436z"/>
            </g>
        </g>
        <g id="engine">
            <g id="Motor">
                <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="195.1113" y1="222.9951" x2="237.4434" y2="222.9951">
                    <stop offset="0" style="stop-color:#4D4D4D"/>
                    <stop offset="1" style="stop-color:#333333"/>
                </linearGradient>
                <path fill="url(#SVGID_7_)" d="M237.443,238.101c0,6.627-2.373,9-9,9h-24.332c-6.629,0-9-2.373-9-9V204.89c0-3.589,1.328-6,6-6
                    h27.332c6.627,0,9,2.372,9,9V238.101z"/>
                <linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="195.5273" y1="237.1152" x2="217.8594" y2="237.1152">
                    <stop offset="0" style="stop-color:#595959"/>
                    <stop offset="1" style="stop-color:#4D4D4D"/>
                </linearGradient>
                <path fill="url(#SVGID_8_)" d="M217.859,237.221c0,6.627-2.373,9-9,9h-4.332c-6.629,0-9-2.373-9-9v-0.211c0-6.629,2.371-9,9-9
                    h4.332c6.627,0,9,2.371,9,9V237.221z"/>
                <linearGradient id="SVGID_9_" gradientUnits="userSpaceOnUse" x1="199.3613" y1="192.2832" x2="211.6934" y2="192.2832">
                    <stop offset="0" style="stop-color:#262626"/>
                    <stop offset="1" style="stop-color:#1A1A1A"/>
                </linearGradient>
                <path fill="url(#SVGID_9_)" d="M211.693,198.889h-9h5.668h-9v-9.211c0-3.244,0.953-4,5-4h2.332c4.371,0,5,0.631,5,4V198.889z"/>
            </g>
        </g>
        <g id="driverTertiaryShoes">
            <g>
                <path [attr.fill]="getColor('driverTertiaryShoes')" d="M178.156,37.126c0-5.464-1.43-9.894-6.894-9.894l0,0c-5.464,0-6.894,4.429-6.894,9.894v10.975
                    c0,5.464,1.43,9.894,6.894,9.894l0,0c5.464,0,6.894-4.43,6.894-9.894V37.126z"/>
            </g>
        </g>
        <g id="driverSecondaryBody">
            <g>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M148.023,112.644c-0.26-5.15-4.895-9.101-10.352-8.825l0,0c-5.455,0.275-12.67,4.673-12.409,9.823
                    l4.568,106.453c0.26,5.149,7.895,9.102,13.352,8.826l0,0c5.456-0.275,12.67-4.674,12.41-9.824L148.023,112.644z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M184.057,114.076c0.249-5.412-6.975-9.996-12.432-10.247l0,0
                    c-5.459-0.251-10.086,3.932-10.334,9.344l-7.402,105.566c-0.25,5.411,6.975,9.995,12.432,10.246l0,0
                    c5.459,0.251,15.086-3.944,15.335-9.354L184.057,114.076z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M182.009,193.842c0-8.041-7.427-14.56-16.589-14.56h-18.867c-9.162,0-16.588,6.519-16.588,14.56
                    v20.533c0,8.043-3.635,14.56,16.588,14.56h18.867c9.162,0,16.589-6.518,16.589-14.56V193.842z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M144.156,52.126c0-5.464-0.43-6.894-5.894-6.894l0,0c-5.464,0-5.894,1.429-5.894,6.894l-7,65.975
                    c0,5.464,7.43,9.894,12.894,9.894l0,0c5.464,0,9.894-4.43,9.894-9.894L144.156,52.126z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M177.156,52.126c0-5.464-0.43-6.894-5.894-6.894l0,0c-5.464,0-5.894,1.429-5.894,6.894l-4,65.975
                    c0,5.464,4.43,9.894,9.894,9.894l0,0c5.464,0,12.894-4.43,12.894-9.894L177.156,52.126z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M127.426,189.809c-2.469,3.775-7.529,4.834-11.305,2.366l0,0
                    c-3.775-2.468-4.835-7.53-2.366-11.305l17.206-27.962c2.468-3.775,7.529-4.835,11.305-2.366l0,0
                    c3.775,2.468,3.384,9.083,2.366,11.305C141.189,165.02,127.426,189.809,127.426,189.809z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M198.632,181.846c2.066,4.01,0.491,8.935-3.519,11.001l0,0c-4.01,2.066-8.935,0.491-11.001-3.519
                    l-17.357-28.457c-2.066-4.009-0.491-8.935,3.519-11.001l0,0c4.01-2.066,10.331,1.935,11.001,3.519
                    C184.564,162.02,198.632,181.846,198.632,181.846z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M198.082,219.654c-1.726,11.116-4.121,14.325-7.039,16.642c-4.604,3.474-6.822,4.12-6.822,4.12
                    c-5.299,1.721-11.651,3.044-11.458-1.462c0,0,13.253-32.471,10.507-52.828s4.002-8.003,8.51-7.809l0,0
                    c4.506,0.193,5.374,0.566,7.809,8.509S199.808,208.538,198.082,219.654z"/>
                <path [attr.fill]="getColor('driverSecondaryBody')" d="M139.096,240.299c-0.125,4.51-8.458,3.604-12.665,2.331l-3.725-1.392
                    c-4.239-1.79-6.695-6.143-7.939-12.389s-5.574-35.964-2.476-43.3s3.881-8.063,8.39,2.061l0,0
                    c4.509-9.875,12.201-15.213,7.938-1.61C123.356,211.103,139.096,240.299,139.096,240.299z"/>
            </g>
        </g>
        <g id="kartPrimaryBodySteer">
            <g id="Laag_5">
            </g>
            <g><line fill="none" stroke="#262626" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="154.939" y1="151.726" x2="154.939" y2="111.771"/>
                <path [attr.fill]="getColor('kartPrimaryBodySteer')" d="M182.256,99.771c0,6.627-5.373,12-12,12h-29.229c-6.628,0-12-5.373-12-12v-6.669
                    c0-6.627,15.372-36,22-36h9.229c6.627,0,22,29.373,22,36V99.771z"/><line fill="none" stroke="#262626" stroke-width="5" stroke-miterlimit="10" x1="134.808" y1="162.59" x2="154.939" y2="151.726"/><line fill="none" stroke="#262626" stroke-width="5" stroke-miterlimit="10" x1="154.939" y1="151.726" x2="155.439" y2="130.924"/><line fill="none" stroke="#262626" stroke-width="5" stroke-miterlimit="10" x1="154.939" y1="151.726" x2="175.348" y2="162.59"/>
                <path fill="none" [attr.stroke]="getColor('kartPrimaryBodySteer')" stroke-width="10" stroke-miterlimit="10" d="M179.241,151.726
                    c0,11.489-12.313,20.802-23.802,20.802s-24.802-9.313-24.802-20.802c0-11.488,13.313-20.802,24.802-20.802
                    S179.241,140.237,179.241,151.726z"/><path fill="#929293" stroke="#262626" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M144.873,157.158c3.233-2.389,10.566-10.716,10.566-14.639"/><path fill="#929293" stroke="#262626" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M155.439,142.52c0,7.167,5.491,11.283,10.75,14.639"/><path fill="#929293" stroke="#262626" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                    M166.189,157.158c-2.166-1.472-19.634-1.945-21.316,0"/><circle fill="#282828" stroke="#262626" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="155.189" cy="151.726" r="4.667"/>
            </g>
        </g>
        <g id="kartPrimaryBodySides">
            <g>
                <path [attr.fill]="getColor('kartPrimaryBodySides')" d="M72.589,220.763c0,4.001-3.244,7.246-7.245,7.246H46.251c-4.002,0-7.245-3.244-7.245-7.246
                    l11-82.653c0-4.001,3.243-7.245,7.245-7.245h17.093c4.001,0,7.245,3.244,7.245,7.245L72.589,220.763z"/>
                <path [attr.fill]="getColor('kartPrimaryBodySides')" d="M271.589,220.096c0,4.001-3.244,7.246-7.245,7.246h-19.093c-4.002,0-7.245-3.244-7.245-7.246
                    l-7-84.653c0-4.001,3.243-7.245,7.245-7.245h17.093c4.001,0,7.245,3.244,7.245,7.245L271.589,220.096z"/>
            </g>
        </g>
        <g id="kartPrimaryBodyFront">
            <g>
                <path [attr.fill]="getColor('kartPrimaryBodyFront')" d="M212.02,49.77c-1.574-5.066-5.373-23-12-23h-86.957c-6.628,0-13.46,19.167-15,23
                    s-32.078,1.412-29-2.77s38.354-45.914,54-47h66.957c19.054,1.346,47.33,43.564,50,48S213.594,54.836,212.02,49.77z"/>
            </g>
        </g>
        <g id="driverPrimaryHands">
            <g>
                <path [attr.fill]="getColor('driverPrimaryHands')" d="M139.426,169.809c-2.469,3.775-6.529,3.834-10.305,1.366l0,0
                    c-3.775-2.468-5.835-6.53-3.366-10.305l5.206-7.962c2.468-3.775,7.529-4.835,11.305-2.366l0,0
                    c3.775,2.468,4.834,7.53,2.366,11.305L139.426,169.809z"/>
                <path [attr.fill]="getColor('driverPrimaryHands')" d="M185.632,161.846c2.066,4.01-0.509,6.935-4.519,9.001l0,0c-4.01,2.066-7.935,2.491-10.001-1.519
                    l-4.357-8.457c-2.066-4.009-0.491-8.935,3.519-11.001l0,0c4.01-2.066,8.935-0.49,11.001,3.519L185.632,161.846z"/>
            </g>
        </g>
        <g id="driverPrimaryHelmet">
            <g>
                <path  [attr.fill]="getColor('driverPrimaryHelmet')" d="M182.892,228.008c0,14.503-11.758,26.261-26.261,26.261c-14.504,0-26.262-11.758-26.262-26.261
                    s11.758-33.261,26.262-33.261C171.134,194.747,182.892,213.505,182.892,228.008z"/>
                <path fill="#031011" d="M178.354,227.403c0,11.997,0-16.277-21.723-16.277c-21.823,0-21.724,28.274-21.724,16.277
                    s9.726-27.513,21.724-27.513C168.628,199.89,178.354,215.406,178.354,227.403z"/>
            </g>
        </g>
    </svg>
</div>