@use "./../settings.scss";

$component: ".button";

.buttons {
  margin: 20px 0;
}

#{$component} {
  padding: 12px;
  border-radius: settings.$global-radius;
  background: #5c376e;
  color: #fff;
  font-size: 18px;
  transition: settings.$default-transition;

  &:not(:first-child) {
    margin-left: 10px;
  }

  &:hover {
    background: #333;
  }

  &--wide {
    width: 100%;

    &:not(:first-child) {
      margin: 10px 0 0;
    }
  }
}
