@use "./../settings.scss";

$component: ".button-info";

#{$component} {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(120%);
  text-align: center;
  font-size: 14px;
  text-transform: lowercase;
  color: #fff;
  transition: settings.$default-transition;

  .is-active & {
    color: settings.$secondary-color;
  }

  @media only screen and (max-width: 600px) {
    bottom: inherit;
    top: 0;
    transform: translateY(-120%);
  }
}
