@use "./../settings.scss";

$component: ".floating-buttons";

#{$component} {
  display: flex;
  position: absolute;
  top: settings.$global-padding;
  left: settings.$global-padding;

  @media only screen and (max-width: 600px) {
    flex-direction: row-reverse;
    left: inherit;
    top: inherit;
    bottom: 15px;
    right: 15px;
  }

  button {
    position: relative;
    z-index: 9;

    &:not(:first-child) {
      margin-left: 10px;

      @media only screen and (max-width: 600px) {
        margin: 0 10px 0 0;
      }
    }
  }
}
