@use "./../settings.scss";

input {
  width: 100%;
  border: 0;
  padding: 6px;
  border-radius: settings.$global-radius 0;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 15px;
  transition: settings.$default-transition;

  &:hover,
  &input:focus {
    background: rgba(255, 255, 255, 0.2);
  }
}
