@use "./../settings.scss";

$component: ".nav-main";

#{$component} {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  transition: settings.$default-transition-time opacity
    settings.$default-transition-ease;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

#{$component}__links {
  flex: 0 0 300px;

  @media only screen and (max-width: 600px) {
    flex: inherit;
  }

  ul {
    margin: 0;
    padding: 49px;
    list-style: none;

    @media only screen and (max-width: 600px) {
      padding: 0;
    }
  }

  button {
    width: 100%;
    padding: 20px 0 20px 20px;
    background: transparent;
    text-align: left;
    font-size: 24px;
    color: settings.$primary-color;
    opacity: 0.33;

    @media only screen and (max-width: 600px) {
      padding: 20px;
    }
  }

  .is-active {
    opacity: 1;

    @media only screen and (max-width: 600px) {
      color: settings.$secondary-color;
    }
  }
}

#{$component}__content {
  flex: 1;
  height: 100vh;
  padding-right: 20px;

  @media only screen and (max-width: 600px) {
    flex: inherit;
    height: inherit;
    padding: 20px;
  }

  > div {
    height: 100vh;

    @media only screen and (max-width: 600px) {
      height: inherit;
    }
  }

  h2 {
    margin: 0;
    padding: 12px 0 32px;
    font-size: 20px;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

#{$component}__group {
  margin-bottom: 40px;

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}
#{$component}__component {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  min-height: 30px;

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

/*
 * Toggler
 */
#{$component}__toggler {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 49px;
  height: 49px;
  padding: 10px 12px;
  background: #fff;
  transition: settings.$default-transition-time background
    settings.$default-transition-ease;

  &:hover {
    background: #fff;
  }

  &.is-active {
    z-index: 11;
    background: settings.$secondary-color;

    span {
      height: 3px;
      background: #fff;
    }

    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }

    span:nth-child(2) {
      margin: 5px 0;
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }

  span {
    content: "";
    display: block;
    height: 4px;
    background: settings.$primary-color;

    &:nth-child(2) {
      margin: 4px 0;
    }
  }
}
