@use "./../settings.scss";

$component: ".play-pause";

#{$component} {
  position: relative;
  flex: 26px;
  width: 47px;
  height: 45px;
  margin-right: 20px;
}
#{$component}:before,
#{$component}:after {
  content: "";
  position: absolute;
  left: 23px;
  height: 10px;
  transition: settings.$default-transition;
}
#{$component}:before {
  top: 14px;
  border-left: 4px solid #fff;
  transform: rotate(135deg);
}
#{$component}:after {
  top: 20px;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}
#{$component}.is-active:before {
  top: 17px;
  left: 19px;
  transform: rotate(0deg);
}
#{$component}.is-active:after {
  top: 17px;
  left: 27px;
  transform: rotate(0deg);
}

.floating-buttons #{$component} {
  width: 49px;
  height: 49px;
  background: settings.$secondary-color;

  &:before,
  &:after {
    height: 12px;
    border-color: #fff;
  }

  &:before {
    top: 15px;
  }

  &:after {
    top: 21px;
  }

  &.is-active {
    background: #fff;

    &:before,
    &:after {
      top: 18px;
      border-color: settings.$primary-color;
    }

    &:before {
      left: 19px;
    }
    &:after {
      left: 27px;
    }

    .button-info {
      color: #fff;
    }
  }
}
