@use "./../settings.scss";

$component: ".previews";
$size: 200px;

#{$component} {
  display: flex;
}

#{$component}__item {
  position: relative;
  max-width: $size;
  overflow: hidden;

  &:after {
    content: "Selected";
    display: block;
    padding: 3px 0;
    text-align: center;
    font-size: 13px;
    color: settings.$secondary-color;
    opacity: 0;
    transition: settings.$default-transition;
  }

  &.is-active {
    &:after {
      opacity: 1;
    }
  }

  &:not(:first-child) {
    margin-left: settings.$global-padding;
  }
}

#{$component}__image {
  display: block;
  max-width: $size;
  max-height: $size;
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: settings.$global-radius;
}

#{$component}__item-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: settings.$global-padding;
  text-align: center;
  color: #fff;
  transition: settings.$default-transition;
}

#{$component}__item-title {
  font-weight: 600;
}

#{$component}__item-subtitle {
  font-size: 12px;
}
