@use "./../settings.scss";

$component: ".scores";

#{$component} {
  display: block;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: settings.$global-padding 0;
  background: rgba(255, 255, 255, 0.95);
  overflow: auto;

  @media only screen and (max-width: 600px) {
    padding-bottom: 100px;
  }
}

#{$component} table {
  border-spacing: 0;

  thead tr,
  tbody tr:nth-child(even) {
    padding: settings.$global-padding;
  }

  tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.5);
  }

  tr.is-death .scores__health {
    color: #a52c2c;
  }

  th,
  td {
    padding: 10px 5px;

    &.right {
      text-align: right;
    }

    &:first-child {
      @media only screen and (min-width: 601px) {
        width: 100px;
      }
    }

    &:last-child {
      padding-right: 15px;
    }
  }

  th {
    padding: 14px 5px 26px;
    font-size: 17px;
    font-weight: 400;
  }

  td {
    color: #777;
  }

  td.kart-name {
    white-space: nowrap;
  }

  span.kart-id {
    font-size: 12px;
    opacity: 0.5;
  }
}

#{$component}__thumbnail-wrapper {
  position: relative;
  width: 50px;
  min-width: 50px;
}

#{$component}__kart-thumbnail {
  position: absolute;
  top: 2px;
  left: 10px;
  width: 33px;
  padding: 4px 5px 2px 5px;
  border: 2px solid#fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  transform: rotate(90deg);
}

#{$component}__toggler {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 49px;
  height: 49px;
  border: 0;
  border-radius: settings.$global-radius;
  margin: 0;
  padding: 13px;
  font-weight: 400;
  font-size: 20px;
  color: settings.$primary-color;
  background: #fff;
  transition: settings.$default-transition-time color
      settings.$default-transition-ease,
    settings.$default-transition-time background
      settings.$default-transition-ease,
    settings.$default-transition-time transform
      settings.$default-transition-ease;

  &.is-active {
    display: block;
    position: absolute;
    z-index: 12;
    left: 0;
    top: 0;
    margin-left: 0 !important;
    background: settings.$secondary-color;

    @media only screen and (max-width: 600px) {
      left: inherit;
      right: 0;
      margin-right: 0 !important;
    }

    span {
      width: 25px;
      height: 3px !important;
      min-height: 3px;
      background: #fff;
    }

    span:nth-child(1) {
      transform: rotate(45deg) translate(2px, 2px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(2px, -2px);
    }
  }

  span {
    display: block;
    width: 7px;
    min-height: 7px;
    background: settings.$primary-color;
    transition: settings.$default-transition;

    &:nth-child(1) {
      height: 11px;
    }

    &:nth-child(2) {
      height: 15px;
    }
  }
}
